name: Build and Push to GHCR

on:
  push:
    tags:
      # - 'v[0-9]+.[0-9]+.[0-9]+'
      - 'release-*'
      - 'v*'

# Required permissions to push to GHCR
permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Extract tag name
        id: vars
        run: echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: docker
          # build-args: |
          #   # JELLYFIN_BRANCH=release-10.11.z
          #   JELLYFIN_BRANCH=release-${{ steps.vars.outputs.tag }}
          #   SOME_OTHER_VAR=hello-world
          push: true
          # Note: repository name is converted to lowercase for GHCR compatibility
          tags: |
            ghcr.io/${{ github.repository_owner }}/jellyfin-tizen-installer:${{ steps.vars.outputs.tag }}
            ghcr.io/${{ github.repository_owner }}/jellyfin-tizen-installer:latest
